apiVersion: v1
kind: ServiceAccount
metadata:
  name: $APP_NAME-ksa
  namespace: $APP_NAME
  annotations: 
    iam.gke.io/gcp-service-account: $APP_NAME-gsa@$PROJECT.iam.gserviceaccount.com

---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: $APP_NAME-psql-ksa
  namespace: $APP_NAME
  annotations: 
    iam.gke.io/gcp-service-account: $APP_NAME-psql-gsa@$PROJECT.iam.gserviceaccount.com