  apiVersion: v1
  kind: Pod
  metadata:
    name: workload-identity-test-no-sa
    namespace: $APP_NAME
  spec:
    containers:
    - image: google/cloud-sdk:slim
      name: workload-identity-test-no-sa
      command: ["sleep","infinity"]
